export AWS_ACCESS_KEY_ID=
export AWS_BUCKET=
export AWS_PROFILE=
export AWS_REGION=
export AWS_SECRET_ACCESS_KEY=
export CLUSTER_NAME=
export CLUSTER_REGION=
export DOCKER_BACKEND_FEED_IMAGE=
export DOCKER_BACKEND_USER_IMAGE=
export DOCKER_FRONTEND_IMAGE=
export DOCKER_PASSWORD=
export DOCKER_REVERSEPROXY_IMAGE=
export DOCKER_USERNAME=
export JWT_SECRET=
export K8_BACKEND_FEED_DEPLOYMENT_NAME=
export K8_BACKEND_FEED_VERSION_B_DEPLOYMENT_NAME=
export K8_BACKEND_USER_DEPLOYMENT_NAME=
export K8_FRONTEND_DEPLOYMENT_NAME=
export K8_REVERSEPROXY_DEPLOYMENT_NAME=`
export POSTGRESS_DB=
export POSTGRESS_HOST=
export POSTGRESS_PASSWORD=
export POSTGRESS_USERNAME=
export URL=